@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: local('RobotoSlab'), url(./assets/fonts/RobotoSlab-VariableFont_wght.ttf);
  font-style: normal;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add-new-book h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #888;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.18px;
}

#book-title,
#categories {
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  height: 2.8125rem;
  margin-right: 34px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#book-title {
  width: 664px;
}

#categories {
  width: 285px;
}

.add-book {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #0290ff;
  text-transform: uppercase;
  border: none;
  height: 2.8125rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.single-book {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.book-info,
.book-percentaje,
.book-progress {
  width: 33.333%;
}

.book-info .category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #121212;
  margin: 0.5rem 0;
}

.book-info .title {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
  margin: 0;
}

.book-info .author {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  margin-top: 0;
}

.book-actions button {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  border: none;
  background-color: white;
  cursor: pointer;
  padding-left: 0;
  padding-right: 1.5rem;
}

.book-percentaje .percent {
  margin-left: 80px;
}

.book-percentaje .percent h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #121212;
  margin: 0;
}

.book-percentaje .percent span {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #121212;
}

.book-progress .current-chapter {
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
  text-transform: uppercase;
  margin: 0 0 0.5rem 0;
}

.book-progress .number-chapter {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
  letter-spacing: -0.4px;
  color: #121212;
  display: block;
}

.book-progress button {
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  display: block;
}
